canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main{
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 99%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}
.left {
  grid-column: 6 / 12;
}

body::-webkit-scrollbar{
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: darkblue;
}
body::-webkit-scrollbar-thumb {
  background: aqua;
}

.navbtn {
  position: fixed;
  top: 0;
  right: 0;
}

.navopen {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
}
.navopen2 {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
}

.navdiv {
  color: white;
  background-color: rgb(36, 143, 231);
  position: fixed;
  height: 100vh;
  width: 0;
  display: block;
  opacity: 1;
  top: 0;
  right: 0;
}